---
import type { GetStaticPaths } from 'astro';
import { fetchAllPosts } from '../utils/fetchAllPosts';
import type { WordPressPostDetail } from '../types/type';
import { SinglePage } from '../components/page/SinglePage';
import { Header } from '../components/organisms/Header';
import { WholePageWrapper } from '../components/organisms/WholePageWrapper';
const posts: WordPressPostDetail[] = await fetchAllPosts();
export const getStaticPaths = (async () => {
  return posts.map(post => ({
    params: { id: post.id },
  }));
}) satisfies GetStaticPaths;

const { id } = await Astro.params;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <WholePageWrapper client:load>
      <Header client:load />
      <SinglePage postId={id} client:load />
    </WholePageWrapper>
    <script src="/js/humbergerMenuMove.js" type="module"></script>
  </body>
</html>
