---
import { Mainpage } from '../components/page/MainPage';
import { Header } from '../components/organisms/Header';
import { Sidebar } from '../components/organisms/Sidebar';
import { WholePageWrapper } from '../components/organisms/WholePageWrapper';
import { fetchAllPosts } from '../utils/fetchAllPosts';
import type { WordPressPostDetail } from '../types/type';

const posts: WordPressPostDetail[] = await fetchAllPosts();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <WholePageWrapper client:load>
      <Header client:load />
      <Mainpage client:load />
      <Sidebar posts={posts} client:load />
    </WholePageWrapper>
    <script src="/js/humbergerMenuMove.js" type="module"></script>
  </body>
</html>
