---
import { Mainpage } from "../components/page/MainPage";
import { Header } from "../components/organisms/Header";
import { WholePageWrapper } from "../components/organisms/WholePageWrapper";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <WholePageWrapper client:load>
      <Header client:load />
      <Mainpage client:load />
    </WholePageWrapper>
  </body>
</html>
